.manageButton {
    background: #5a0000;
    /* Koyu kırmızı */
    color: #fff;
    border: 1px solid #9e1b1b;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    margin-top: 15px;
    width: fit-content;
}

.manageButton:hover {
    background: #800000;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    transform: translateY(-4px);
}

.icon {
    font-size: 1rem;
}